absl-py==2.1.0
accelerate==0.28.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
albucore==0.0.17
albumentations==1.4.18
alembic==1.13.3
altair==5.4.1
aniso8601==9.0.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.6.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
astroid==3.2.4
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==24.2.0
audio-separator==0.17.2
audioread==3.0.1
autopage==0.5.2
av==12.1.0
babel==2.16.0
beartype==0.18.5
beautifulsoup4==4.12.3
bibtexparser==2.0.0b7
bitsandbytes==0.43.1
bleach==6.2.0
blinker==1.8.2
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1725267488082/work
brotlicffi @ file:///home/conda/feedstock_root/build_artifacts/brotlicffi_1725368892754/work
cachetools==5.5.0
-e git+https://github.com/songweige/content-debiased-fvd.git@a1e037ab7cb087debd2221d14ae4a001ec054201#egg=cd_fvd
certifi @ file:///croot/certifi_1725551672989/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725560520483/work
cfgv==3.4.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1728479282467/work
click==8.1.7
cliff==4.7.0
clldutils==3.24.0
cloudpickle==3.0.0
cmaes==0.11.1
cmd2==2.5.6
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
comm==0.2.2
conformer==0.3.2
contextlib2==21.6.0
contourpy==1.3.0
csvw==3.5.1
cycler==0.12.1
Cython==3.0.11
debugpy==1.8.8
decorator==4.4.2
decord==0.6.0
-e git+https://github.com/serengil/deepface.git@e73bdb813801e91cc54c016ffc651daa138ea922#egg=deepface
deepspeed==0.15.4
defusedxml==0.7.1
Deprecated==1.2.14
diffq==0.2.4
diffusers==0.27.2
dill==0.3.9
distlib==0.3.9
dlinfo==1.2.1
docker==7.1.0
docopt-ng==0.9.0
easydict==1.13
einops==0.8.0
entrypoints==0.4
eval_type_backport==0.2.0
exceptiongroup==1.2.2
executing==2.1.0
fastapi==0.115.0
fastapi-cli==0.0.5
fastdtw==0.3.4
fastjsonschema==2.20.0
ffmpy==0.4.0
filelock==3.16.1
fire==0.7.0
Flask==3.0.3
Flask-Cors==5.0.0
flatbuffers==24.3.25
fonttools==4.54.1
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.9.0
gast==0.6.0
gdown==5.2.0
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
gradio==3.43.2
gradio_client==0.5.0
graphene==3.3
graphql-core==3.2.4
graphql-relay==3.2.0
greenlet==3.1.1
grpcio==1.67.1
grpcio-tools==1.67.1
gunicorn==22.0.0
h11==0.14.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
h5py==3.12.1
hallo @ file:///scratch/project_2011211/fang/code/hallo
hjson==3.1.0
hpack==4.0.0
httpcore==1.0.6
httptools==0.6.4
httpx==0.27.2
huggingface-hub==0.25.2
humanfriendly==10.0
hydra-colorlog==1.2.0
hydra-core==1.3.2
hydra-optuna-sweeper==1.2.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
HyperPyYAML==1.2.2
identify==2.6.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1726459485162/work
imageio==2.35.1
imageio-ffmpeg==0.5.1
importlib_metadata==7.2.1
importlib_resources==6.4.5
inflect==7.4.0
iniconfig==2.0.0
insightface==0.7.3
ipykernel==6.29.5
ipython==8.29.0
ipywidgets==8.1.5
isodate==0.7.2
isoduration==20.11.0
isort==5.13.2
itsdangerous==2.2.0
jax==0.4.34
jaxlib==0.4.34
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
json5==0.9.28
jsonpickle==3.3.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
julius==0.2.7
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
keras==3.6.0
kiwisolver==1.4.7
language-tags==1.2.0
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.2.post1
lightning==2.4.0
lightning-utilities==0.11.8
llvmlite==0.43.0
lxml==5.3.0
lz4==4.3.3
Mako==1.3.5
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
-e git+https://github.com/shivammehta25/Matcha-TTS.git@0735e653fc5b63b3f436aefce9b579d913b7ff0d#egg=matcha_tts
matplotlib==3.9.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mediapipe==0.10.14
mistune==3.0.2
ml-dtypes==0.4.1
ml_collections==0.1.1
mlflow==2.13.1
modelscope==1.20.1
more-itertools==10.5.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.0
mtcnn==1.0.0
multidict==6.1.0
munch==4.0.0
mutagen @ file:///home/conda/feedstock_root/build_artifacts/mutagen_1693764032065/work
namex==0.0.8
narwhals==1.9.2
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
ninja==1.11.1.1
nodeenv==1.9.1
notebook==7.2.2
notebook_shim==0.2.4
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
onnx==1.16.1
onnx2torch==1.5.14
onnxruntime-gpu==1.18.0
openai-whisper==20240930
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
opentelemetry-api==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opt_einsum==3.4.0
optree==0.13.0
optuna==2.10.1
orjson==3.10.7
overrides==7.7.0
packaging==24.1
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pbr==6.1.0
pexpect==4.9.0
phonemizer==3.3.0
pillow==10.3.0
platformdirs==4.3.6
pluggy==1.5.0
pooch==1.8.2
pre-commit==3.7.1
prettytable==3.11.0
proglog==0.1.10
prometheus_client==0.21.0
prompt_toolkit==3.0.48
propcache==0.2.0
protobuf==4.25.3
psutil==6.0.0
ptyprocess==0.7.0
pudb==2024.1.3
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==15.0.2
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pycryptodomex @ file:///home/conda/feedstock_root/build_artifacts/pycryptodomex_1726993927638/work
pydantic==2.9.2
pydantic_core==2.23.4
pydub==0.25.1
Pygments==2.18.0
pylatexenc==2.10
pylint==3.2.2
pymcd==0.2.1
pynini==2.1.6
pyparsing==3.1.4
pyperclip==1.9.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pysptk==1.0.1
pytest==8.3.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.12
python_speech_features==0.6
pytorch-lightning==2.2.2
pytz==2024.2
pyworld==0.3.4
PyYAML==6.0.2
pyzmq==26.2.0
querystring-parser==1.2.4
rdflib==7.1.1
referencing==0.35.1
regex==2024.9.11
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
resampy==0.4.3
retina-face==0.0.17
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.9.2
rootutils==1.0.7
rotary-embedding-torch==0.6.5
rpds-py==0.20.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
ruff==0.6.9
sacred==0.8.6
safetensors==0.4.5
samplerate==0.1.0
scenedetect==0.5.1
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
segments==2.2.1
semantic-version==2.10.0
Send2Trash==1.8.3
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sounddevice==0.5.0
soundfile==0.12.1
soupsieve==2.6
soxr==0.5.0.post1
SQLAlchemy==2.0.35
sqlparse==0.5.1
stack-data==0.6.3
starlette==0.38.6
stevedore==5.3.0
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
terminado==0.18.1
tf_keras==2.18.0
threadpoolctl==3.5.0
tifffile==2024.9.20
tiktoken==0.8.0
tinycss2==1.4.0
tokenizers==0.15.2
tomli==2.0.2
tomlkit==0.12.0
torch==2.2.2+cu121
torch-fidelity==0.3.0
torchaudio==2.2.2
torchmetrics==1.5.0
torchvision==0.17.2+cu121
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.39.2
triton==2.2.0
typeguard==4.3.0
typer==0.12.5
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
tzdata==2024.2
Unidecode==1.3.8
uri-template==1.3.0
uritemplate==4.1.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1726496430923/work
urwid==2.6.16
urwid_readline==0.15.1
uvicorn==0.31.1
uvloop==0.21.0
virtualenv==20.26.6
watchfiles==0.24.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.0.4
WeTextProcessing==1.0.4.1
wget==3.2
widgetsnbextension==4.0.13
wrapt==1.16.0
xformers==0.0.25.post1+cu118
yarl==1.15.5
yt-dlp @ file:///home/conda/feedstock_root/build_artifacts/yt-dlp_1727545778161/work
zipp==3.20.2
zstandard==0.23.0